a {
  display: inline;
  padding: 8px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li a {
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-size-adjust: fit-content;
  background-color: rgb(95, 88, 88);
}
li a:hover {
  background-color: #0400ff;
  color: rgb(32, 240, 84);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alignnav {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2em;
  letter-spacing: 2px;
}
.aligncenter {
  text-align: center;
}
body {
  margin: 0;
}
.anav {
  top: 0;
  left: 0;
  display: inline;
  padding: 8px;
}

ul.top-nav {
  display: table;
  max-width: 900px;
  padding: 0;
  margin: 0;
}
ul.top-nav li {
  display: table-cell;
}
#old_banner {
  display: none;
}
#banner {
  display: inline;
  align-items: center;
  justify-content: center;
}
#navbar {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(95, 88, 88);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
html {
  color-scheme: light dark;
  color: white;
  text-shadow: 4px 2px black;
  background-color: rgb(10, 20, 80);
}

@keyframes opacity_blink {
  from {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}
