
      @keyframes opacity {
        100% {
          opacity: 1;
        }
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      html {
        scroll-behavior: smooth;
      }
      td:hover img {
        margin: 0 auto;
        transition: transform 0.5s ease; /* Animation */
        transform: scale(1.1);
        backface-visibility: hidden;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x:auto;
        overflow-y:auto;
        border-radius: 4%;
      }
      h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-bottom-right-radius: 150%;
        border-bottom-left-radius: 150%;
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        /*animation: typing 2s steps(80, end), blink-caret 0.5s step-end infinite;*/
      }
      .aligncenter {
        text-align: center;
      }
      .commontext {
        display: inline;
        font-stretch: ultra-expanded;
        border-style: solid;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-image: radial-gradient( rgb(16, 133, 0) 90%,rgb(10, 20, 80) 30%) 1;
        border-bottom: 4px solid rgb(0, 0, 0);
        font-size: xx-large;
        font-style: normal;
      }
      p {
        margin-left: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
      }
#cape{
  display: flex;
   align-items: center;
        justify-content: center;
        overflow-x:auto;
        overflow-y:auto;
}
      #PS2{
background-color: rgba(222, 245, 255, 0.747);
display: flex;
   align-items: center;
        justify-content: center;
        overflow-x:auto;
        overflow-y:auto;

      }
      #PS1{
        background-color: rgba(255, 121, 59, 0.493);
        display: flex;
   align-items: center;
        justify-content: center;
        overflow-x:auto;
        overflow-y:auto;
              }