
      @keyframes opacity {
        100% {
          opacity: 1;
        }
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
      html {
        scroll-behavior: smooth;
      }
      table {
        margin: 0 auto;
      }
      td:hover img {
        margin: 0 auto;
        transition: transform 0.5s ease; /* Animation */
        border-color: blue;
        border-style: inset;
        transform: scale(2);
        backface-visibility: hidden;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-bottom-right-radius: 150%;
        border-bottom-left-radius: 150%;
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        /*animation: typing 2s steps(80, end), blink-caret 0.5s step-end infinite;*/
      }
      .aligncenter {
        text-align: center;
      }
      .commontext {
        font-size: xx-large;
        font-style: normal;
        text-align: center;
      }
 